{% load staticfiles %}
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start active open">
            <a href="javascript:;" class="nav-link">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
{#        <li class="nav-item  ">#}
{#            <a href="javascript:;" class="nav-link nav-toggle">#}
{#                <i class="icon-puzzle"></i>#}
{#                <span class="title">Components</span>#}
{#                <span class="arrow"></span>#}
{#            </a>#}
{#            <ul class="sub-menu">#}
{#                <li class="nav-item  ">#}
{#                    <a href="components_date_time_pickers.html" class="nav-link ">#}
{#                        <span class="title">Date & Time Pickers</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  ">#}
{#                    <a href="components_color_pickers.html" class="nav-link ">#}
{#                        <span class="title">Color Pickers</span>#}
{#                        <span class="badge badge-danger">2</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  ">#}
{#                    <a href="components_select2.html" class="nav-link ">#}
{#                        <span class="title">Select2 Dropdowns</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  ">#}
{#                    <a href="components_editors.html" class="nav-link ">#}
{#                        <span class="title">Markdown & WYSIWYG Editors</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  ">#}
{#                    <a href="components_code_editors.html" class="nav-link ">#}
{#                        <span class="title">Code Editors</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  ">#}
{#                    <a href="components_ion_sliders.html" class="nav-link ">#}
{#                        <span class="title">Ion Range Sliders</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  ">#}
{#                    <a href="components_noui_sliders.html" class="nav-link ">#}
{#                        <span class="title">NoUI Range Sliders</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  ">#}
{#                    <a href="components_knob_dials.html" class="nav-link ">#}
{#                        <span class="title">Knob Circle Dials</span>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a href="javascript:;" class="nav-link nav-toggle">#}
{#                <i class="icon-layers"></i>#}
{#                <span class="title">Page Layouts</span>#}
{#                <span class="selected"></span>#}
{#                <span class="arrow open"></span>#}
{#            </a>#}
{#            <ul class="sub-menu">#}
{#                <li class="nav-item  ">#}
{#                    <a href="layout_language_bar.html" class="nav-link ">#}
{#                        <span class="title">Header Language Bar</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  ">#}
{#                    <a href="layout_footer_fixed.html" class="nav-link ">#}
{#                        <span class="title">Fixed Footer</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  ">#}
{#                    <a href="layout_boxed_page.html" class="nav-link ">#}
{#                        <span class="title">Boxed Page</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item  active open">#}
{#                    <a href="layout_blank_page.html" class="nav-link ">#}
{#                        <span class="title">Blank Page</span>#}
{#                        <span class="selected"></span>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
    </ul>
    <!-- END SIDEBAR MENU -->
</div>