{% extends 'base.html' %}
{% load lesson_extras %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% for course in courses %}
                    {% get_course_knowledge course user as know %}
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <div class="color-demo tooltips" data-original-title="Clique aqui para assistir..." data-toggle="modal" data-target="#modal-{{ course.id }}">
                            <div class="color-view bg-blue-soft bg-font-blue-soft bold uppercase">{{ course }}</div>
                            <div class="color-info bg-white c-font-14 sbold"> Watch </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ know.score }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ know.score }}%">
                                    <span>{{ know.score }}% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-{{ course.id }}" style="display: none;">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content c-square">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title bold uppercase">Course {{ course }} </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="tab-pane active">
                                            <div class="mt-element-list">
                                                <div class="mt-list-head list-simple ext-1 font-white bg-blue-chambray">
                                                    <div class="list-head-title-container">
                                                        <h3 class="list-title">Lessons Prerequisites</h3>
                                                    </div>
                                                </div>
                                                <div class="mt-list-container list-simple ext-1 group">
                                                    <div class="panel-collapse in" id="completed-simple">
                                                        <ul>
                                                            {% for child in course.requisites %}
                                                                {% get_course_knowledge child.lesson_child user as know_child %}
                                                                <li class="mt-list-item">
                                                                    <div class="list-icon-container">
                                                                        {% if know_child.score == 100.0 %}
                                                                            <i class="icon-check"></i>
                                                                        {% else %}
                                                                            <i class="icon-hourglass"></i>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="list-datetime"> {{ know_child.score }}%|
                                                                        W:{% get_weight child.lesson_father child.lesson_child %}|
                                                                        L:{% get_last_watch user child.lesson_child %}|
                                                                        H:{% get_helps user child.lesson_child %}|</div>
                                                                    <div class="list-item-content">
                                                                        <h3 class="uppercase">
                                                                            <a href="javascript:;">{{ child }}</a>
                                                                        </h3>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane active">
                                            <div class="mt-element-list">
                                                <div class="mt-list-head list-simple ext-1 font-white bg-blue-chambray">
                                                    <div class="list-head-title-container">
                                                        <h3 class="list-title">Lessons Path</h3>
                                                    </div>
                                                </div>
                                                <div class="mt-list-container list-simple ext-1 group">
                                                    <div class="panel-collapse in" id="completed-simple">
                                                        <ul>
                                                            {% get_course_trail course user as trail %}
                                                            {% for path in trail %}
                                                                {% get_course_knowledge path.lesson user as know_child %}
                                                                {% if path.watch and course != path.lesson %}
                                                                    <li class="mt-list-item">
                                                                        <div class="list-icon-container">
                                                                            {{ forloop.counter0 }}
                                                                        </div>
                                                                        <div class="list-datetime">
                                                                            {% if path.watch == 1 %}
                                                                                <span class="badge badge-info"> Maybe </span>
                                                                            {% else %}
                                                                                <span class="badge badge-danger"> Important </span>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="list-item-content">
                                                                            <h3 class="uppercase">
                                                                                <a href="javascript:;">{{ path.lesson }}</a>
                                                                            </h3>
                                                                        </div>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline dark sbold uppercase" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}