
.logo-default{
    position: relative;
    margin-top: 15px !important;
    width: 60%;
    height: 65%;
}

.page-logo{
    background: #192534 !important;
}

.page-header.navbar .page-top{
    background: #192534 !important;
}